{% extends 'base.html' %}

{% load static %}

{% block body %}
    {% for message in messages %}
        <div {% if message.tags %} class="snackbar {{ message.tags }}"{% endif %}>
            {% if message.tags == 'success' %}
                <img src="{% static 'icons/snackbar/check-circle.svg' %}" alt="Checkmark">
            {% elif  message.tags == 'warning' %}
                <img src="{% static 'icons/snackbar/alert-triangle.svg' %}" alt="warning">
            {% elif  message.tags == 'error' %}
                <img src="{% static 'icons/snackbar/close_circle.svg' %}" alt="Error">
            {% else %}
                <img src="{% static 'icons/snackbar/information-circle.svg' %}" alt="Information">
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
    <div id="landing-page">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="user-icon"><img src="{% static 'icons/user-icon.svg' %}"
                                                                 alt="user-icon"></a>
        {% endif %}
        <div class="landing-page-wrapper">
            <div class="search-fields">
                <h1>Finn ditt midlertidige<br> hjem med ShareBNB</h1>
                <h4>Søk blant over {{ distinct_apartments }} hjem i opptil {{ distinct_cities }} byer!</h4>
                <form action="apartments/" method="get">
                    <div class="input-field fluid location">
                        <input name="location" id="location" type="text" placeholder="." required>
                        <label for="location">Hvor vil du leie?</label>
                    </div>
                    <div class="input-field fluid">
                        <input name="start_date" id="from_date" type="date" placeholder="." required>
                        <label for="from_date">Fra når?</label>
                    </div>
                    <div class="input-field fluid">
                        <input name="end_date" id="to_date" type="date" placeholder="." required>
                        <label for="to_date">Til når?</label>
                    </div>
                    <div class="input-field fluid">
                        <select name="guests" id="guests">
                            {% for i in i|rjust:9 %}
                                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                        <label for="guests">Antall gjester?</label>
                    </div>
                    <div>
                        <input class="button primary" id="submit" type="submit" placeholder="."
                               value="Søk etter leiligheter" align="middle">
                    </div>
                </form>

                <br>
                {% if not request.user.is_authenticated %}
                    <div class="login-fields" id="image-move-buttons">
                        <a href="#registration" id="register-button" class="link" onclick="registrationTrigger()">Registrer
                            ny
                            bruker</a>
                        <div>|</div>
                        <a href="#login" id="login-button" class="link" onclick="loginTrigger()">Logg inn</a>
                    </div>
                {% endif %}
            </div>
            <div class="image right" id="start-image">
                <img src="{% static 'img/landingpage.jpg' %}" alt="Green apartment">
            </div>
            <div id="login-registration-fields">
                <div id="login-fields">
                    <a href="#" class="link" onclick="pushRight()">Tilbake</a>
                    <br><br>
                    <h1>Logg inn</h1>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-field fluid">
                            <input type="email" name="email" id="email" placeholder="." autocomplete="email">
                            <label for="email">E-post</label>
                        </div>
                        <div class="input-field fluid">
                            <input type="password" name="password" autocomplete="current-password" id="password" placeholder=".">
                            <label for="password">Passord</label>
                        </div>
                        <input class="button primary" type="submit" value="Logg inn">
                    </form>
                </div>


                <div id="register-fields">
                    <a href="#" class="link" onclick="pushRight()">Tilbake</a>
                    <br><br>
                    <h1>Registrer ny bruker</h1>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-field fluid">
                            {{ form.first_name }}
                            <label for="register_first_name">Fornavn</label>
                        </div>
                        <div class="input-field fluid">
                            {{ form.last_name }}
                            <label for="register_sure_name">Etternavn</label>
                        </div>
                        <div class="input-field fluid location">
                            {{ form.email }}
                            <label for="register_email">E-mail</label>
                        </div>
                        <div class="input-field fluid location">
                            {{ form.phone_number }}
                            <label for="register_phone">Tlf.</label>
                        </div>
                        <div class="input-field fluid location">
                            {{ form.password }}
                            <label for="register_password">Passord</label>
                        </div>
                        <div class="input-field fluid">
                            <input type="file" id="image" name="image">
                            <label for="image">Last opp et profilbilde</label>
                        </div>
                        <input class="button primary" type="submit" value="Registrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block js %}
    <script>
        let userIsLoggedIn = "{{ request.user.is_authenticated }}";
        let registration = $('#register-fields');
        let login = $('#login-fields');
        let wrapper = $('.landing-page-wrapper');

        function pushRight() {
            wrapper.removeClass('left');
        }

        function pushLeft() {
            wrapper.addClass('left');
        }

        function loginTrigger() {
            pushLeft();
            login.show();
            registration.hide();
            window.scrollTo(0, 0);
        }

        function registrationTrigger() {
            pushLeft();
            registration.show();
            login.hide();
            window.scrollTo(0, 0);
        }

        function checkUrl() {
            const url = window.location.href;
            if (userIsLoggedIn === 'False') {
                if (url.includes('registration')) {
                    registrationTrigger();
                } else if (url.includes('login')) {
                    loginTrigger();
                } else {
                    pushRight();
                }
            } else {
                pushRight();
            }
        }

        $(window).on('hashchange', function (e) {
            checkUrl();
        });
        checkUrl();
    </script>
{% endblock js %}
