{% extends 'base.html' %}
{% load static %}
{% load apartment_filters %}
{% load contracts_sort %}

{% block body %}
    {% include 'navbar.html' %}

    {% for message in messages %}
        <div class="snackbar {% if message.tags %}{{ message.tags }}"{% endif %}>
            {% if message.tags == 'success' %}
                <img src="{% static 'icons/snackbar/check-circle.svg' %}" alt="Checkmark">
            {% elif message.tags == 'warning' %}
                <img src="{% static 'icons/snackbar/alert-triangle.svg' %}" alt="warning">
            {% elif message.tags == 'error' %}
                <img src="{% static 'icons/snackbar/close_circle.svg' %}" alt="Error">
            {% else %}
                <img src="{% static 'icons/snackbar/information-circle.svg' %}" alt="Information">
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}

    <div id="chat" class="wrapper">
        <div class="left-side">
            <div class="add-persons">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="person" placeholder="." id="receiver">
                        <input type="hidden" name="receiver" value="{{ chatting_with.id }}">
                        <label for="receiver">Mottaker</label>
                        <input type="submit" name="Add" class="button primary" value="Add">
                    </div>
                </form>
            </div>
            <div class="contacts">
                {% for curr_info in info %}
                    <a class="user-chat" href="{% url 'chat' chat_person_id=curr_info.1.pk %}"
                       name="Choose_chat" value={{ curr_info.1.pk }}>
                        {% include 'profile-picture.html' with user=curr_info.1 %}
                        <h6>{{ curr_info.1.first_name }} {{ curr_info.1.last_name }}</h6>
                        <p>{{ curr_info.0.content }}</p>
                        <h6 class="message-date">4. nov</h6>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="right-side">
            <div id="messages">
                {% for message in messages %}
                    <div class="chat-bubble-wrapper {% if message.messager.pk == request.user.pk %}you{% endif %}">
                        <div class="chat-bubble">
                            {% include 'profile-picture.html' with user=message.messager %}
                            <p>{{ message.content }}</p>
                            <span class="timestamp">{{ message.time }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <form method="post" id="chat-input">
                {% csrf_token %}
                <input type="hidden" name="receiver" value="{{ chatting_with.id }}"/>
                <div>
                    <input type="text" name="message" placeholder="Skriv noe...">
                    <input type="submit" name="Send" class="button" value="Send">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        let element = document.getElementById("messages");
        element.scrollTop = element.scrollHeight;

        let chatRefresh = new Vue({
            el: '',
            delimiters: ['[{', '}]'],
            data: {
                'suggestions': [],
                'courseQuery': '',
                'selectedCourse': {},
                'currentItem': 0
            },
            methods: {
                generateSelectedText: function (course) {
                    return `${course.name} - ${course.course_code}`
                },
                searchCourses: function () {
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'chat' chat_person_id=chatting_with.id %}',
                        data: {
                            'from_vue': true,
                        },
                        success: function (data) {
                            console.log("success", data)
                            this.suggestions = data.suggestions;
                            info = data;
                            console.log("Info", info)
                            print(data)
                            return data
                        },
                        error: function (data) {
                            console.log("failed")
                        }
                    });
                }
            }
        });


        function print(param) {
            item = param;
            console.log("item", item.item)

        }

        response = chatRefresh.searchCourses()
    </script>
{% endblock %}
