{% extends 'base.html' %}

{% load static %}

{% block body %}
<div id="landing-page">
    <div class="search-fields">
        <h1>Finn ditt midlertidige<br> hjem med ShareBNB</h1>
        <h4>Søk blant over 10 hjem i opptil 2 byer!</h4>
        <form action="" method="get">
            <div class="input-field fluid location">
                <input id="location" type="text" placeholder=".">
                <label for="location">Hvor vil du leie?</label>
            </div>
            <div class="input-field fluid">
                <input id="from_date" type="text" placeholder=".">
                <label for="from_date">Fra når?</label>
            </div>
            <div class="input-field fluid">
                <input id="to_date" type="text" placeholder=".">
                <label for="to_date">Til når?</label>
            </div>
            <div class="input-field fluid">
                <select id="guests">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="guests">Antall gjester?</label>
            </div>
            <input class="button primary" type="submit" value="Søk etter leiligheter">
        </form>
        <div class="login-fields" id="login-buttons">
            <p id="register-button" onclick="moveImageLeft('inline', 'none')">Registrer ny bruker</p>
            <p id="login-button" onclick="moveImageLeft('none', 'inline')">Logg inn</p>
        </div>
    </div>


    <div class="image" id="start-image">
        <img src="{% static 'img/landingpage.jpg' %}" alt="Green apartment">
    </div>

    <div>
        <h1>Logg inn</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="input-field">
                <input type="email" name="email" id="email" placeholder="." autocomplete="email">
                <label for="email">Epost</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" autocomplete="password" id="password">
                <label for="password">Passord</label>
            </div>
            <input class="button primary" type="submit" value="Logg inn">
            <div class="input-field fluid location" onclick="moveImageRight()">
                Tilbake
            </div>
        </form>
    </div>


    <div>
        <h1>Registrer ny bruker</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-field fluid">
                {{ form.first_name }}
                <label for="register_first_name">Fornavn</label>
            </div>
            <div class="input-field fluid">
                {{ form.last_name }}
                <label for="register_sure_name">Etternavn</label>
            </div>
            <div class="input-field fluid location">
                {{ form.email }}
                <label for="register_email">E-mail</label>
            </div>
            <div class="input-field fluid location">
                {{ form.phone_number }}
                <label for="register_phone">Tlf.</label>
            </div>
            <div class="input-field fluid location">
                {{ form.password }}
                <label for="register_password">Passord</label>
            </div>
            <input class="button primary" type="submit" value="Registrer">
        </form>
    </div>

</div>
{% endblock body %}
{% block js %}
<script>
    var startImage=document.getElementById("start-image");
    var startPosImage=getPosition(startImage);

    var registerFields=document.getElementById("register-fields");
    var loginFields=document.getElementById("login-fields");

    var slidingVelocity=3


    function getPosition( element ) {
        var rect = element.getBoundingClientRect();
        return {x:rect.left,y:rect.top};
    }

    function moveImageLeft(displayRegister, displayLogin){
        // console.log(startImage.getBoundingClientRect())
        registerFields.style.display=displayRegister;
        loginFields.style.display=displayLogin;


        startImage.style.position="absolute";
        startImage.style.width=50+'%';

        var pos=startPosImage.x;
        startImage.style.left=pos+"px";
        var id = setInterval(frame, 1);
        function frame() {
           if (pos <= 0) {
             clearInterval(id);
           }
           else {
             pos-=slidingVelocity;
             startImage.style.left = pos + 'px';
           }
        }
        // console.log(startImage.getBoundingClientRect())
    };

    function moveImageRight(){
        var pos=getPosition(startImage).x;
        console.log("pos",pos);
        var id = setInterval(frame, 1);
        function frame() {
            console.log(startImage.style.left);
            console.log(pos);
           if (pos >= startPosImage.x) {
             clearInterval(id);
           }
           else {
             pos+=slidingVelocity;
             startImage.style.left = pos + 'px';
           }
        }
    }
</script>
{% endblock js %}