{% extends 'base.html' %}

{% load static %}
{% load apartment_filters %}

{% block body %}
{% if message != "" %}
        <div class="snackbar warning" id="alert-div"><img src="{% static 'icons/snackbar/alert-triangle.svg' %}"
                                                          alt="">{{ message }}</div>
{% endif %}

    {% include 'navbar.html' %}
    <div id="apartment-detail">
        <div class="apartment-images">
            <img src="{{ apartment.image1.url }}" alt="Apartment image">
        </div>
        <div class="apartment-info">
            <h1>{{ apartment.title }}</h1>
            <div class="rating">
                {% for i in apartment.rating|yellow_stars %}
                    <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="">
                {% endfor %}
                {% for i in apartment.rating|gray_stars %}
                    <img src="{% static 'icons/rating/gray_star.svg' %}" alt="">
                {% endfor %}
                <p>{{ apartment.vote_amount }} stemmer</p>
            </div>
            <p>{{ apartment.description }}</p>
            <i><img src="{% static 'icons/pin.svg' %}" alt="">{{ apartment.address }}, {{ apartment.city }}</i>
            <i><img src="{% static 'icons/house.svg' %}" alt="">{{ apartment.size }} m<sup>2</sup></i>
            <h4>Leie i perioden {{ query.start_date|date:'d.m.y' }} til {{ query.end_date|date:'d.m.y' }}</h4>
            <h3>Totalpris: {{ apartment_price }} kr</h3>
            <div class="user">
                <img src="{% static 'img/girl.jpg' %}" alt="girl">
                <div class="user-rating">
                    <p>{{  owner.first_name }} {{ owner.last_name}}</p>
                    {% for i in i|rjust:4 %}
                        <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="">
                    {% endfor %}
                    <img src="{% static 'icons/rating/gray_star.svg' %}" alt="">
                </div>
            </div>

            {% if request.user.is_authenticated %}
            <form method="post" >
                {% csrf_token %}
                <input type="submit" class="button primary" value="Send {{  owner.first_name }} en forespørsel om kontrakt">
            </form>
            {% endif %}

            <div class="mapouter">
                <br><br>
                <div class="gmap_canvas">
                    <iframe width=90% height=350px id="gmap_canvas"
                            src="https://maps.google.com/maps?q={{ apartment.address }} {{ apartment.city }} {{ apartment.country }}&t=&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
            </div>
    </div>
{% endblock body %}