{% extends 'base.html' %}

{% load static %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="container" id="apartments">
        <form action="" method="get">
            <div class="search-bar">
                <div class="input-field fluid location">
                    <input name = "location" id="location" type="text" placeholder=".">
                    <label for="location">Hvor vil du leie?</label>
                </div>
                <div class="input-field fluid start-date">
                    <input name = "start_date id="start-date" type="date" placeholder=".">
                    <label for="start-date">Fra når?</label>
                </div>
                <div class="input-field fluid end-date">
                    <input name = end_date id="end-date" type="date" placeholder=".">
                    <label for="end-date">Til når?</label>
                </div>
                <div class="input-field fluid guests">
                    <select name = guests id="guests" type="text" placeholder=".">
                        {% for i in i|rjust:9 %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    <label for="guests">Antall gjester</label>
                </div>
                <div>
                    <input class = "button primary" id="submit" type="submit" placeholder="." value="Søk">
                </div>
            </div>
        </form>
        <p class="result-count">Fant 12 leiligheter i Trondheim</p>
        <div class="apartment-list">
            {% for apartment in apartments %}
            <a class="apartment-list-item card clickable" href="{% url 'apartment-detail' apartment_id=apartment.id %}">
                <img class="apartment-image" src="{{ apartment.profile_picture.url }}" alt="">
                <h4>{{ apartment.title }}</h4>
                <i><img src="{% static 'icons/pin.svg' %}" alt="">{{ apartment.city }}</i>
                <i><img src="{% static 'icons/house.svg' %}" alt="">{{ apartment.size }} m<sup>2</sup></i>
                <div class="rating">
                    {% for i in i|rjust:apartment.rating %}
                        <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="">
                    {% endfor %}
                    <h6>{{ apartment.vote_amount }}</h6>
                </div>
                <div class="right-aligned">
                    <div>
                        <h3>{{ apartment.monthly_cost }} kr</h3>
                        <h6>for 42 dager</h6>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock body %}