/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

.container {
  margin: 1rem auto;
  max-width: 56.25em;
  min-width: 90%; }

img {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

button, .button {
  padding: 0 2rem;
  height: 48px;
  font-size: 1rem;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.12);
  background-color: #FCFCFC;
  border: 1px solid #53787D;
  border-radius: 200px;
  outline: 0;
  cursor: pointer;
  color: #53787D;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  will-change: background-color, transform; }
  button:hover, .button:hover {
    background-color: #f7f7f7; }
  button:active, .button:active {
    transform: scale(0.98); }
  button.primary, .button.primary {
    border: 0;
    color: #FCFCFC;
    background-color: #70B991; }
    button.primary:hover, .button.primary:hover {
      background-color: #5fb184; }

.input-field {
  position: relative;
  margin-bottom: 1rem; }
  .input-field.fluid, .input-field.fluid input {
    width: 100%; }
  .input-field label {
    position: absolute;
    font-size: 1rem;
    top: 1.3rem;
    left: 1rem;
    transition: top 200ms ease-in-out, color 200ms ease-in-out;
    will-change: top, color;
    color: #B4B3B1;
    pointer-events: none; }
  .input-field input, .input-field select, .input-field textarea {
    background-color: #F1F1F1;
    border-radius: 6px;
    outline: 0;
    font-size: 1rem;
    padding: 1.2rem 1rem 0.6rem;
    border: 0;
    height: 48px;
    min-width: 200px;
    transition: box-shadow 200ms ease-in-out; }
    .input-field input:hover, .input-field select:hover, .input-field textarea:hover {
      box-shadow: 0px 0px 1px #B4B3B1; }
    .input-field input::placeholder, .input-field select::placeholder, .input-field textarea::placeholder {
      visibility: hidden; }
    .input-field input:not(:placeholder-shown) + label, .input-field select:not(:placeholder-shown) + label, .input-field textarea:not(:placeholder-shown) + label {
      top: 0.4rem;
      font-size: 0.75rem;
      color: #B4B3B1; }
  .input-field select {
    cursor: pointer;
    -webkit-padding-start: 0.5rem;
    -moz-padding-start: 0.5rem;
    text-indent: 0.5rem; }
  .input-field textarea {
    resize: vertical;
    min-height: 6rem; }
  .input-field p {
    position: relative;
    color: #E41F4E;
    margin-left: 1rem;
    padding-left: 0.5rem; }
    .input-field p::before, .input-field p::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #E41F4E;
      width: 2px;
      height: 14px;
      border-radius: 10px; }
    .input-field p::after {
      transform: rotate(45deg); }
    .input-field p::before {
      transform: rotate(-45deg); }

.card {
  background-color: #FCFCFC;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.12);
  padding: 1rem; }

.snackbar {
  max-width: 60%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  background-color: #F1F1F1;
  color: #53787D;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 6px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.12);
  font-size: 1.125rem;
  z-index: 1000000;
  animation: dissapear 3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
  .snackbar img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px; }
  .snackbar.success, .snackbar.error {
    color: #FCFCFC; }
  .snackbar.success {
    background-color: #5CBA65; }
  .snackbar.error {
    background-color: #E41F4E; }
  .snackbar.warning {
    color: #2A2722;
    background-color: #DFAF08; }

@keyframes dissapear {
  0% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.link {
  display: inline-block; }

p a, .link {
  position: relative;
  color: #70B991;
  text-decoration: none;
  transition: color 100ms ease-in-out; }
  p a::before, .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    transform-origin: left center;
    background-color: #70B991;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; }
  p a:hover, .link:hover {
    color: #51a577; }
    p a:hover::before, .link:hover::before {
      transform: scaleX(1); }

#landing-page {
  width: 100vw;
  overflow-x: hidden; }
  #landing-page .landing-page-wrapper {
    overflow-y: hidden;
    width: 150vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateX(0);
    transition: transform 500ms ease-in-out; }
    #landing-page .landing-page-wrapper.left {
      transform: translateX(-50vw); }
    @media screen and (max-width: 56.25em) {
      #landing-page .landing-page-wrapper {
        grid-template-columns: repeat(2, 100vw); }
        #landing-page .landing-page-wrapper.left {
          transform: translateX(-100vw); } }
  #landing-page h1 {
    color: #53787D;
    margin-bottom: 1rem; }
  #landing-page h4 {
    color: #70B991;
    margin: 0.5rem 0 3rem; }
  #landing-page .search-fields {
    display: inline-block;
    width: 50vw;
    position: relative;
    padding: 10%; }
    @media screen and (max-width: 56.25em) {
      #landing-page .search-fields {
        padding: 5%; } }
  #landing-page form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr); }
    #landing-page form .location {
      grid-column: 1 / span 2; }
  #landing-page .image {
    display: inline-block;
    width: 100%;
    z-index: 10;
    transition: transform 500ms ease-in-out, transform 500ms ease-in-out; }
    @media screen and (max-width: 56.25em) {
      #landing-page .image {
        display: none; } }
    #landing-page .image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #landing-page #login-registration-fields {
    display: inline-block;
    width: 50vw; }
  #landing-page #register-fields, #landing-page #login-fields {
    padding: 10%; }
  #landing-page #image-move-buttons {
    display: flex;
    color: #70B991; }
  #landing-page #image-move-buttons > a {
    position: relative;
    top: -4px;
    margin: 5px;
    text-align: center;
    text-decoration: none; }
  #landing-page #register-button:hover, #landing-page #login-button:hover {
    cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
