button, .button {
  padding: 0 2rem;
  height: 48px;
  font-size: 1rem;
  box-shadow: $med-shadow;
  background-color: $white;
  border: 1px solid $primary-dark;
  border-radius: 200px;
  outline: 0;
  cursor: pointer;
  color: $primary-dark;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  will-change: background-color, transform;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: darken($white, 2%);
  }
  &:active {
    transform: scale(0.98);
  }

  &.primary {
    border: 0;
    color: $white;
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  &.error {
    background-color: $error;
    color: $white;
    border: 0;
  }
  &.fluid {
    width: 100%;
  }
}