#profile-page {

  h1 {
    color: $primary-dark;
  }

  .my-apartments {
    padding-top: 2rem;

    h2 {
      color: $primary-dark;
      margin-bottom: 2rem;
    }
    > a.button {
      margin-top: 2rem;
    }

    .card {

      > img {
        position: absolute;
        top: 0;
        left: 0;
        margin: -1rem 0 -1rem -1rem;
        object-fit: cover;
        width: calc(160px + 1rem);
        height: calc(100% + 2rem);
      }

      > div {
        display: block;
        padding: 1rem 1rem 1rem calc(160px + 1rem);

        i {
          display: block;
          color: $dark-gray;
          margin: 0.5rem 0;

          img {
            height: 18px;
            width: 18px;
            position: relative;
            top: 2px;
            margin-right: 0.5rem;
          }
        }

        .rating {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          color: $gray;

          img {
            margin-right: 4px;
          }
        }

        ul {
          margin-top: 1rem;
          margin-left: 1.5rem;
          color: $primary-dark;

          li {
            list-style-type: circle;
          }

        }
      }
    }
  }
}