{% extends 'base.html' %}

{% load static %}
{% load apartment_filters %}

{% block body %}
    {% for message in messages %}
        <div {% if message.tags %} class="snackbar {{ message.tags }}"{% endif %}>
            {% if message.tags == 'success' %}
                <img src="{% static 'icons/snackbar/check-circle.svg' %}" alt="Checkmark">
            {% elif message.tags == 'warning' %}
                <img src="{% static 'icons/snackbar/alert-triangle.svg' %}" alt="warning">
            {% elif message.tags == 'error' %}
                <img src="{% static 'icons/snackbar/close_circle.svg' %}" alt="Error">
            {% else %}
                <img src="{% static 'icons/snackbar/information-circle.svg' %}" alt="Information">
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}

    {% include 'navbar.html' %}
    <div id="apartment-detail">
        <div class="apartment-images">
            {% for image in apartment.apartmentimage_set.all %}
                <img src="{{ image.image.url }}" alt="Apartment image" class="{% if forloop.first %}active{% endif %}">
            {% endfor %}
            <div id="left-arrow" onclick="prevImage()"></div>
            <div id="right-arrow" onclick="nextImage()"></div>
            <div class="ellipses">
                {% for i in apartment.apartmentimage_set.all %}<div class="ellipse {% if forloop.first %}active{% endif %}"></div>{% endfor %}
            </div>
        </div>
        <div class="apartment-info">
            <h1>{{ apartment.title }}</h1>
            <div class="rating">
                {% for i in apartment.rating|yellow_stars %}
                    <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="">
                {% endfor %}
                {% for i in apartment.rating|gray_stars %}
                    <img src="{% static 'icons/rating/gray_star.svg' %}" alt="">
                {% endfor %}
                <p>{{ apartment.vote_amount }} stemmer</p>
            </div>
            <p>{{ apartment.description }}</p>
            <i><img src="{% static 'icons/pin.svg' %}" alt="">{{ apartment.address }}, {{ apartment.city }}</i>
            <i><img src="{% static 'icons/house.svg' %}" alt="">{{ apartment.size }} m<sup>2</sup></i>
            <h4>Leie i perioden {{ query.start_date|date:'d.m.y' }} til {{ query.end_date|date:'d.m.y' }}</h4>
            <h3>Totalpris: {{ apartment_price }} kr</h3>
            <div class="user">
                <img src="{% static 'img/girl.jpg' %}" alt="girl">
                <div class="user-rating">
                    <p>{{ owner.first_name }} {{ owner.last_name }}</p>
                    {% for i in i|rjust:4 %}
                        <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="">
                    {% endfor %}
                    <img src="{% static 'icons/rating/gray_star.svg' %}" alt="">
                </div>
            </div>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width=100% height=350px id="gmap_canvas"
                            src="https://maps.google.com/maps?q={{ apartment.address }} {{ apartment.city }} {{ apartment.country }}&t=&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
            </div>
            <br><br>
            {% if request.user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-field fluid" style="width: 100%">
                        {{ form.tenants }}
                        <label for="{{ form.tenants.id_for_label }}">Email-adressene til de du leier sammen med; en per
                            linje</label>
                        {{ form.tenants.errors }}
                    </div>
                    <input type="submit" class="button primary"
                           value="Send {{ owner.first_name }} en forespørsel om kontrakt">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock body %}
{% block js %}
    <script>
        let activeImageIndex = 0;
        let apartmentImages = $('.apartment-images img');
        let dots = $('.ellipse');

        function nextImage() {
            if (activeImageIndex < apartmentImages.length - 1) {
                activeImageIndex++;
            } else {
                activeImageIndex = 0;
            }
            changeImage(activeImageIndex);
        }
        function prevImage() {
            if (activeImageIndex > 0) {
                activeImageIndex--;
            } else {
                activeImageIndex = apartmentImages.length - 1;
            }
            changeImage(activeImageIndex);
        }
        function changeImage(index) {
            dots.removeClass('active');
            dots.eq(index).addClass('active');
            apartmentImages.removeClass('active');
            apartmentImages.eq(index).addClass('active');
        }
    </script>
{% endblock %}