{% extends 'base.html' %}

{% load static %}

{% block body %}
    {% for message in messages %}
        <div {% if message.tags %} class="snackbar {{ message.tags }}"{% endif %}>
            {% if message.tags == 'success' %}
                <img src="{% static 'icons/snackbar/check-circle.svg' %}" alt="Checkmark">
            {% elif message.tags == 'warning' %}
                <img src="{% static 'icons/snackbar/alert-triangle.svg' %}" alt="warning">
            {% elif message.tags == 'error' %}
                <img src="{% static 'icons/snackbar/close_circle.svg' %}" alt="Error">
            {% else %}
                <img src="{% static 'icons/snackbar/information-circle.svg' %}" alt="Information">
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
    {% include 'navbar.html' %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-field fluid">
                {{ form.title }}
                <label for="{{ form.title.id_for_label }}">Tittel</label>
                {{ form.title.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.description }}
                <label for="{{ form.description.id_for_label }}">Beskrivelse</label>
                {{ form.description.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.address }}
                <label for="{{ form.address.id_for_label }}">Gateadresse</label>
                {{ form.address.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.city }}
                <label for="{{ form.city.id_for_label }}">By</label>
                {{ form.city.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.country }}
                <label for="{{ form.country.id_for_label }}">Land</label>
                {{ form.country.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.beds }}
                <label for="{{ form.beds.id_for_label }}">Antall senger</label>
                {{ form.beds.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.apartment_age }}
                <label for="{{ form.apartment_age.id_for_label }}">Hvor gammel er leiligheten?</label>
                {{ form.apartment_age.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.size }}
                <label for="{{ form.size.id_for_label }}">ca. hvor mange kvadratmeter er leiligheten?</label>
                {{ form.size.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.monthly_cost }}
                <label for="{{ form.monthly_cost.id_for_label }}">Månedspris</label>
                {{ form.monthly_cost.errors }}
            </div>
            <div class="input-field fluid">
                {{ form.original_owner }}
                <label for="{{ form.original_owner.id_for_label }}">Epost-adressen til eier av leiligheten</label>
                {{ form.monthly_cost.errors }}
            </div>
            <div class="input-field fluid">
                <input type="file" id="images" name="images" multiple required>
                <label for="images">Last opp flere bilder</label>
            </div>
            <br>
            <input type="submit" class="button primary" value="{% if 'edit' in request.path %}Lagre endringer{% else %}Opprett leiligheten{% endif %}">
        </form>
    </div>
{% endblock body %}