{% load static %}

<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Share BNB{% endblock title %}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- bootstrap classes -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Extra header -->
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}

    {% block js %}{% endblock js %}
</body>
</html>