.snackbar {
  max-width: 60%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  background-color: $light-gray;
  color: $primary-dark;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: $main-border-radius;
  box-shadow: $med-shadow;
  font-size: 1.125rem;

  img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }

  &.success, &.error {
    color: $white;
  }
  
  &.success {
    background-color: $success;
  }
  &.error {
    background-color: $error;
  }
  &.warning {
    color: $black;
    background-color: $warning;
  }
}