#apartment-detail {
  position: relative;
  .apartment-images {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .apartment-info {
    margin-left: 50vw;
    padding: 10rem 6rem 6rem;

    h1 {
      margin-bottom: 1rem;
    }
    .rating {
      margin-bottom: 1.5rem;
      img {
        height: 18px;
        width: 18px;
        margin-right: 4px;
      }
      p {
        color: $dark-gray;
      }
    }

    i {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      img {
        width: 18px;
        height: 18px;
        margin-right: 0.5rem;
      }
    }

    h4 {
      margin: 2rem 0 0.5rem;
      color: $dark-gray;
    }

    .user {
      display: grid;
      grid-template-columns: 42px 1fr;
      grid-gap: 0.5rem;
      margin: 1rem 0;
      > img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 100px;
      }
      .user-rating {
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}