#profile-page {

  h1 {
    color: $primary-dark;
  }

  h2 {
    color: $primary-dark;
    margin-bottom: 2rem;
  }

  .profile-container {
    display: grid;
    grid-gap: 4rem;
    position: relative;
    @media screen and (min-width: $lg) {
      grid-template-columns: 2fr 1fr;
    }
  }

  .my-apartments, .profile-settings {
    padding-top: 2rem;
  }

  .profile-settings {
    .link {
      display: inline-block;
      text-align: right;
    }
  }

  .my-apartments {

    > a.button {
      margin-top: 2rem;
    }

    .card {
      ul {
        margin-top: 1rem;
        margin-left: 1.5rem;
        color: $primary-dark;

        li {
          list-style-type: circle;
        }

      }

      .contract {
        margin: 1rem 0 0 -1rem;
        list-style-type: none;
        @extend .card;
        font-size: 1.2rem;
        line-height: 1.2em;

        span {
          color: $dark-gray;
          font-weight: bold;
        }

        form {
          margin-top: 1rem;
        }

        .approve {
          height: 32px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}