// Colors
$primary: #70B991;
$primary-dark: #53787D;
$yellow: #FCCE77;
$off-white: #EEE7DA;

$black: #2A2722;
$dark-gray: #5B5A57;
$gray: #B4B3B1;
$light-gray: #F1F1F1;
$white: #FCFCFC;

$error: #E41F4E;
$warning: #DFAF08;
$success: #5CBA65;

// Responsive
$xxs: 20em; // (320px)
$xs: 30em; // (480px)
$sm: 37.5em; // (600px)
$md: 48em; // (768px)
$lg: 56.25em; // (900px)
$xl: 68.75em; // (1100px)
$xxl: 81.25em; // (1300px)

// Other

$med-shadow: -2px 2px 8px rgba(0, 0, 0, 0.12);
$main-border-radius: 6px;