{% extends 'base.html' %}
{% load static %}
{% load apartment_filters %}
{% load contracts_sort %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="container" id="profile-page">
        <div class="user">
            <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        </div>
        <div class="profile-container">
            <div class="my-apartments">
                <h2>Mine leiligheter</h2>
                {% for apartment in my_apartments %}
                    <div class="card">
                        <img src="{{ apartment.image1.url }}" alt="{{ apartment.title }}">
                        <div class="apartment-description">
                            <h4>{{ apartment.title }}</h4>
                            <i><img src="{% static 'icons/pin.svg' %}" alt="pin-icon">{{ apartment.city }}</i>
                            <i><img src="{% static 'icons/house.svg' %}" alt="house-icon">{{ apartment.size }}
                                m<sup>2</sup></i>
                            <div class="rating">
                                {% for i in apartment.rating|yellow_stars %}
                                    <img src="{% static 'icons/rating/yellow_star.svg' %}" alt="yellow star">
                                {% endfor %}
                                {% for i in apartment.rating|gray_stars %}
                                    <img src="{% static 'icons/rating/gray_star.svg' %}" alt="yellow star">
                                {% endfor %}
                                {{ apartment.vote_amount }}
                            </div>
                            <ul>
                                {% for contract in apartment.contracts.all|sort_contracts %}
                                    {% if not contract.pending %}
                                        <li>Leies av {{ contract.tenant.first_name }} {{ contract.tenant.last_name }}
                                            i perioden {{ contract.start_date|date:"d.m.y" }} -
                                            {{ contract.end_date|date:"d.m.y" }}
                                        </li>
                                    {% else %}
                                        <li class="contract">
                                            {{ contract.tenant.first_name }} {{ contract.tenant.last_name }}
                                            ønsker å leie i perioden:<br>
                                            <span>{{ contract.start_date|date:'d. F Y' }} -
                                                {{ contract.end_date|date:'d. F Y'}}</span>
                                            <form method="post">
                                                <input type="hidden" name="contract_id" value="{{ contract.pk }}"/>
                                                {% csrf_token %}
                                                <input type="submit" name="accept" class="approve button primary"
                                                       value="Godkjenn">
                                                <input type="submit" name="decline" class="approve button error"
                                                       value="Avslå">
                                            </form>
                                        </li>
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <a class="button" href="{% url 'create-apartment' %}">Opprett ny leilighet</a>
            </div>
            <div class="profile-settings">
                <!-- Legg inn knappen her Invgild -->
                <form method="post">
                    <div class="input-field">
                        <input type="text">
                        <label for="">Name</label>
                    </div>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="button error" value="Slett bruker">
                </form>
            </div>
        </div>
    </div>
{% endblock %}